.character-card {
  display: flex;
  justify-content: space-between;
}

.character-card--attribute {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20%;
}

div.character-card.is-active {
  background: palegoldenrod;
  border-radius: 20px;
}