.app-container {
  display: grid;
  grid-template-columns: 66% 33%;
}

.initiative_tracker_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.initiative_tracker_container > div {
 width: 100%;
}

.form_container {
  padding: 2rem;
}